<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="funcionId">Función ID:</label>
      <input type="number" formControlName="funcionId" id="funcionId">
    </div>
    <div>
      <label for="cantidad">Cantidad de Tickets:</label>
      <input type="number" formControlName="cantidad" id="cantidad">
    </div>
    <div>
      <label for="total">Total a pagar:</label>
      <input type="number" formControlName="total" id="total" readonly>
    </div>
    <button type="submit">Comprar Tickets</button>
  </form>