<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="functionId">Function ID:</label>
    <input type="number" formControlName="functionId" id="functionId">
  </div>
  <div>
    <label for="numberOfTickets">Amount of Tickets:</label>
    <input type="number" formControlName="numberOfTickets" id="numberOfTickets">
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="string" formControlName="username" id="username" readonly>
  </div>
  <div>
    <label for="userEmail">Email:</label>
    <input type="string" formControlName="userEmail" id="userEmail" readonly>
  </div>
  <button type="submit">Buy Tickets</button>
</form>